.topnavbar {
  position: relative;
  height: 17vh;
  background-color: #301E67;
  box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.75);
}
.topnavbar ul {
  display: flex;
  list-style: none;
  padding: 15px;
}
.mainheading {
  position: relative;
  font-family: cursive;
  font-size: 2rem;
  text-align: center;
}
.mainheading:hover {
  text-decoration: none;
}
.topnavbar ul .mypic{
  width: 100px;
  height: 70px;
}

@media screen and (max-width: 750px) {
  .mainheading {
    font-size: 1.6rem;
  }
  .topnavbar ul .mypic{
    width: 90px;
    height: 60px;
  }
}
@media screen and (max-width: 650px) {
  .mainheading {
    font-size: 1.3rem;
  }
  .topnavbar ul .mypic{
    width: 70px;
    height: 50px;
  }
}
@media screen and (max-width: 480px) {
  .mainheading{
    font-family: roboto;
    font-size: 1.7rem;
  }
  .topnavbar ul {
    display: flex;
    text-align: center;
  }
  .topnavbar ul .mypic{
    width: 90px;
    height: 70px;
  }
  .topnavbar {
    height: 17vh;
  }
  .topnavbar p{
    display: none;
  }
}
